*{
    margin:0px;
    padding:0px;
}
body{
    padding:40px;
    font-family:Helvetica Neue, Helvetica, Arial;
}
canvas, #hider{
    position:absolute;
    left:80px;
    top:80px;
}
#hider{
    background-color:#fff;
    width: 400px;
    height: 400px;
    display:none;
}
#tmpscreen{
    position:absolute;
    z-index:99999;
    left:50%;
    line-height: 1.5;
    font-size:12px;
    margin-left:-225px;
    width:450px;
    background-color: #f2f2f2;
    border:1px solid #888888;
    padding:10px;
    opacity: 0.95;
}
#close{
    background-color: #d1ffdb;
    border-color:2px solid #19ff00;
    box-shadow: 0px 0px 4px 1px #374e0c;
    display:block;
    font-weight: bold;
    padding:5px;
    margin:10px;
    width:150px;
    cursor: pointer;
}
#close:hover{
    text-decoration: underline;
}
#tmpscreen input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    border:1px solid #333;
    margin-top:10px;
    font-size:12px;
}


#my-video {
    margin-top: 15px;
    width: 280px;
    height: auto;
    background-color: #eee;
}

#their-video {
    width: 100%;
    height: 75%;
    max-height: 480px;
    background-color: #eee;
}

#video-container {
    padding: 25px;
    text-align: center;
    clear:both;
    top:20px;
    left:550px;
    position:absolute;
    height:200px;
    width:300px;
}
#videoaccess{
    position:absolute;
    z-index:999999999;
    width:70%;
    left:15.25%;
    height:300px;
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    box-shadow:0px 0px 3px #333;
}
#videoaccess p{
    padding-top:10px;
}
#videoaccess img{
    margin-top:50px;
}